/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>


#define HYPER (LG(LS(LA(LCTRL))))

&sk {
	release-after-ms = <1000>;
	quick-release;
};

/ {
		behaviors {
			rpi: require_prior_idle {
			    compatible = "zmk,behavior-hold-tap";
			    #binding-cells = <2>;
			    flavor = "tap-preferred";
			    tapping-term-ms = <200>;
			    quick-tap-ms = <200>;
			    require-prior-idle-ms = <125>;
			    bindings = <&kp>, <&kp>;
			};
			rpil: layer_tap_custom {
			    compatible = "zmk,behavior-hold-tap";
			    #binding-cells = <2>;
			    flavor = "tap-preferred";
			    tapping-term-ms = <200>;
			    quick-tap-ms = <200>;
			    require-prior-idle-ms = <125>;
			    bindings = <&mo>, <&kp>;
			};
		};

		macros {
	        uc_dash: uc_dash {
	            label = "UNICODE_DASH";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_apo: uc_apo {
	            label = "UNICODE_APOSTROPHE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp N9>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_lquot: uc_lquot {
	            label = "UNICODE_LEFT_QUOTE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_rquot: uc_rquot {
	            label = "UNICODE_RIGHT_QUOTE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp D>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_umla: uc_umla {
	            label = "UNICODE_UMLAUT_A";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp E &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_umlu: uc_umlu {
	            label = "UNICODE_UMLAUT_U";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp F &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_umlo: uc_umlo {
	            label = "UNICODE_UMLAUT_O";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp F &kp N6>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_sz: uc_sz {
	            label = "UNICODE_SZ";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp D &kp F>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_euro: uc_euro {
	            label = "UNICODE_EURO";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp A &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_pound: uc_pound {
	            label = "UNICODE_POUND";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp A &kp N3>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_tm: uc_tm {
	            label = "UNICODE_TRADEMARK";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N1 &kp N2 &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_joy: uc_joy {
	            label = "UNICODE_EMOJI_JOY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_sweat: uc_sweat {
	            label = "UNICODE_EMOJI_SWEAT";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp N5>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_cry: uc_cry {
	            label = "UNICODE_EMOJI_CRY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N2 &kp D>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_meh: uc_meh {
	            label = "UNICODE_EMOJI_MEH";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N3 &kp N7>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_kiss: uc_kiss {
	            label = "UNICODE_EMOJI_KISS";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N1 &kp N8>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_ohai: uc_ohai {
	            label = "UNICODE_EMOJI_OHAI";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp F>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_roll: uc_roll {
	            label = "UNICODE_EMOJI_ROLL";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N4 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_monkey: uc_monkey {
	            label = "UNICODE_EMOJI_MONKEY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N4 &kp N8>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_eyes: uc_eyes {
	            label = "UNICODE_EMOJI_EYES";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp C &kp N4 &kp N0>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_thinking: uc_thinking {
	            label = "UNICODE_EMOJI_THINKING";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N1 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_facepalm: uc_facepalm {
	            label = "UNICODE_EMOJI_FACEPALM";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N2 &kp N6>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_hug: uc_hug {
	            label = "UNICODE_EMOJI_HUG";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp E &kp C &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_party: uc_party {
	            label = "UNICODE_EMOJI_PARTY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp C>
	                , <&macro_tap &kp D &kp F &kp N8 &kp N9>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_love: uc_love {
	            label = "UNICODE_EMOJI_LOVE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N7 &kp N6 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
 	    };
    	

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |      |  Q  |  W/Ctrl    |  E/Alt    |  R/Cmd    |  T      |   |  Y  | U/Cmd     |  I/Alt      |  O/Ctrl    |  P     |      |
// |      |  A  |  S/L5      |  D/L4     |  F/L3     |  G      |   |  H  | J/L3      |  K/L4       |  L/L5      |  ;     |      |
// |      |  Z  |  X         |  C/L7     |  V/L6     |  B      |   |  N  | M/L6      |  ,/L7       |  .         |  /     |      |
//                           | ESC       | SHF       | SPC     |   | L 1 | L 2       | BSP         |
                        bindings = <
    &trans &kp Q &rpi LCTRL W &rpi LALT E &rpi LCMD R &kp T         &kp Y &rpi LCMD U &rpi LALT I   &rpi LCTRL O &kp P    &trans
    &trans &kp A &rpil 5 S    &rpil 4 D   &rpil 3 F   &kp G         &kp H &rpil 3 J   &rpil 4 K     &rpil 5 L    &kp SEMI &trans
    &trans &kp Z &kp X        &rpil 7 C   &rpil 6 V   &kp B         &kp N &rpil 6 M   &rpil 7 COMMA &kp DOT      &kp FSLH &trans
                              &sk HYPER   &sk LSHIFT  &kp SPACE     &sl 1 &sl 2       &kp ESC
                        >;
                };
                sym {
// -----------------------------------------------------------------------------------------
// |      |  ^      |  <      |  =      |  >      |  #      |   |  `       |  [     |  "     |  ]      |  !      |      |
// |      |  /      |  @      |  &      |  -      |  +      |   |  '       |  (     |  :     |  )      |  ;      |      |
// |      |  \      |  _      |  *      |  ~      |  %      |   |  $       |  {     |  |     |  }      |  ?      |      |
//                            |         |         |         |   |          |        |        |
                        bindings = <
   &trans  &kp CRRT  &kp LT    &kp EQUAL &kp GT    &kp HASH       &kp GRAVE &kp LBKT &kp DQT  &kp RBKT  &kp EXCL  &trans
   &trans  &kp SLASH &kp AT    &kp AMPS  &kp MINUS &kp PLUS       &kp SQT   &kp LPAR &kp COLN &kp RPAR  &kp SEMI  &trans
   &trans  &kp BSLH  &kp UNDER &kp ASTRK &kp TILDE &kp PRCNT      &kp DLLR  &kp LBRC &kp PIPE &kp RBRC  &kp QMARK &trans
                               &trans    &trans    &trans         &kp RET   &trans   &kp RALT
                        >;
                };

                nav {
// -----------------------------------------------------------------------------------------
// |      | TAB     |      |      |         |        |   | PGU    | DEL    | UP     | BSP     |       |      |
// |      | ESC     |      |      |         |        |   | PGD    | LEFT   | DOWN   | RGHT    | RET   |      |
// |      | HYPER   |      |      |         |        |   |        | HOME   |        | END     |       |      |
  //                       |      |         |        |   |        |        |        |
                        bindings = <
    &trans &kp TAB   &trans &trans  &trans   &trans &kp PGUP &kp DEL  &kp UP   &kp BSPC  &trans  &trans
    &trans &kp ESC   &trans &trans  &trans   &trans       &kp PGDN &kp LEFT &kp DOWN &kp RIGHT &kp RET &trans
    &trans &sk HYPER &trans &trans  &trans   &trans       &trans   &kp HOME &trans   &kp END   &trans  &trans
                            &trans  &trans   &trans       &trans   &trans   &kp CAPS
                        >;
                };

                num {
// -----------------------------------------------------------------------------------------
// |      |       |      |      |       |        |   |   -     |   7    |   8    |    9    |       |      |
// |      |       |      |      |       |        |   |   ,     |   4    |   5    |    6    |       |      |
// |      |       |      |      |       |        |   |   .     |   1    |   2    |    3    |       |      |
//                       |      |       |        |   |         |   0    |        |
                        bindings = <
    &trans &trans  &trans &trans  &trans &trans       &kp MINUS &kp N7   &kp N8   &kp N9    &trans  &trans
    &trans &trans  &trans &trans  &trans &trans       &kp COMMA &kp N4   &kp N5   &kp N6    &trans  &trans
    &trans &trans  &trans &trans  &trans &trans       &kp DOT   &kp N1   &kp N2   &kp N3    &trans  &trans
                          &trans  &trans &trans       &trans    &kp N0   &trans
                        >;
                };

		        media {
// -----------------------------------------------------------------------------------------
// |      | BT 1       | VOLD     | MUTE     | VOLU     |              |   |              | ALT+LEFT     |              | ALT+RIGHT     |       |      |
// |      | BT 2       | PREV     | PLAY     | NEXT     |              |   |              |              |              |               |       |      |
// |      | BT 3       |          |          |          | BT CLR       |   |              |              |              |               |       |      |
//                                |          |          |              |   |              |              |              |
                        bindings = <
    &trans &bt BT_SEL 0 &kp VOLD   &kp K_MUTE &kp VOLU   &trans             &trans         &kp LA(LEFT)   &trans         &kp LA(RIGHT)   &trans  &trans
    &trans &bt BT_SEL 1 &kp C_PREV &kp C_PP   &kp C_NEXT &trans             &trans         &kp LG(LBRC)   &trans         &kp LG(RBRC)    &trans  &trans
    &trans &bt BT_SEL 2 &trans     &trans     &trans     &bt BT_CLR_ALL     &trans         &trans         &trans         &trans          &trans  &trans
                                   &trans     &trans     &trans             &trans         &trans         &trans
                        >;
                };

				mouse {
// -----------------------------------------------------------------------------------------
// |            |       |          |          |          |        |   | W_UP         | LCLICK       | MUP          | RCLICK        |       |      |
// |            |       |          |          |          |        |   | W_DOWN       | MLEFT        | MDOWN        | MRIGHT        |       |      |
// |            |       |          |          |          |        |   |              |              |              |               |       |      |
//                                 |          |          |        |   |              |              |              |
                        bindings = <
    &trans       &trans  &trans     &trans     &trans     &trans       &msc SCRL_UP   &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans          &trans  &trans
                                    &trans     &trans     &trans       &trans         &trans         &trans
                        >;
                };

				unicode {
// -----------------------------------------------------------------------------------------
// |            |         |          |  euro    | pound    | tm     |   |              |  u uml       |              | o uml         |       |      |
// |            | a uml   |   sz     |          | em dash  |        |   |   apo        |  l quot      |              | r quot        |       |      |
// |            |         |          |          |          |        |   |              |              |              |               |       |      |
//                                   |          |          |        |   |              |              |              |
                        bindings = <
    &trans       &trans    &trans     &uc_euro   &uc_pound  &uc_tm       &trans         &uc_umlu       &trans         &uc_umlo         &trans  &trans
    &trans       &uc_umla  &uc_sz     &trans     &uc_dash   &trans       &uc_apo        &uc_lquot      &trans         &uc_rquot        &trans  &trans
    &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
                                      &trans     &trans     &trans       &trans         &trans         &trans
                        >;
                };

				emoji {
// -----------------------------------------------------------------------------------------
// |            |         |          |  eyes    | roll       | think  |   | monkey       |              |              | ohai          | party    |      |
// |            |         | sweat    |          | facpalm    |        |   | hug          | joy          | kiss         | love          |          |      |
// |            |         |          |  cry     |            |        |   |              | meh          |              |               |          |      |
//                                   |          |            |        |   |              |              |              |
                        bindings = <
    &trans       &trans    &trans     &uc_eyes   &uc_roll     &uc_thinking &uc_monkey     &trans         &trans         &uc_ohai         &uc_party &trans
    &trans       &trans    &uc_sweat  &trans     &uc_facepalm &trans       &uc_hug        &uc_joy        &uc_kiss       &uc_love         &trans    &trans
    &trans       &trans    &trans     &uc_cry    &trans       &trans       &trans         &uc_meh        &trans         &trans           &trans    &trans
                                      &trans     &trans       &trans       &trans         &trans         &trans
                        >;
                };

// 				template {
// // -----------------------------------------------------------------------------------------
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// //                                   |          |          |        |   |              |              |              |
//                         bindings = <
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//                                       &trans     &trans     &trans       &trans         &trans         &trans
//                         >;
//                 };
        };
};

