/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>


#define HYPER (LG(LS(LA(LCTRL))))
#define MEH (LG(LA(LCTRL)))

&sk {
	release-after-ms = <1000>;
	quick-release;
};

/ {
		behaviors {
			meh_esc: meh_esc {
			    compatible = "zmk,behavior-hold-tap";
			    #binding-cells = <2>;
			    flavor = "tap-preferred";
			    tapping-term-ms = <200>;
			    quick-tap-ms = <200>;
			    bindings = <&kp>, <&kp>;
			};
			mouse_entry: mouse_entry {
			    compatible = "zmk,behavior-tap-dance";
			    #binding-cells = <0>;
			    tapping-term-ms = <200>;
			    bindings = <&sl 6>, <&to 11>;
			};
			skm: sticky_mods {
			    compatible = "zmk,behavior-sticky-key";
			    #binding-cells = <1>;
			    release-after-ms = <5000>;
			    quick-release;
			    ignore-modifiers;
			    bindings = <&kp>;
			};
		};

		input_processors {
			touch_pointer_layer: touch_pointer_layer {
				compatible = "zmk,input-processor-behaviors";
				#input-processor-cells = <0>;
				codes = <INPUT_BTN_TOUCH>;
				bindings = <&mo 5>;
			};
		};

		macros {
	        uc_dash: uc_dash {
	            label = "UNICODE_DASH";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_apo: uc_apo {
	            label = "UNICODE_APOSTROPHE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp N9>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_lquot: uc_lquot {
	            label = "UNICODE_LEFT_QUOTE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_rquot: uc_rquot {
	            label = "UNICODE_RIGHT_QUOTE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N1 &kp D>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_sz: uc_sz {
	            label = "UNICODE_SZ";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp D &kp F>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_euro: uc_euro {
	            label = "UNICODE_EURO";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp A &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_pound: uc_pound {
	            label = "UNICODE_POUND";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp A &kp N3>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_tm: uc_tm {
	            label = "UNICODE_TRADEMARK";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N1 &kp N2 &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_joy: uc_joy {
	            label = "UNICODE_EMOJI_JOY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_sweat: uc_sweat {
	            label = "UNICODE_EMOJI_SWEAT";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp N5>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_cry: uc_cry {
	            label = "UNICODE_EMOJI_CRY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N2 &kp D>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_meh: uc_meh {
	            label = "UNICODE_EMOJI_MEH";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N3 &kp N7>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_kiss: uc_kiss {
	            label = "UNICODE_EMOJI_KISS";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N1 &kp N8>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_ohai: uc_ohai {
	            label = "UNICODE_EMOJI_OHAI";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N0 &kp F>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_roll: uc_roll {
	            label = "UNICODE_EMOJI_ROLL";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N4 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_monkey: uc_monkey {
	            label = "UNICODE_EMOJI_MONKEY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp E &kp N4 &kp N8>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_eyes: uc_eyes {
	            label = "UNICODE_EMOJI_EYES";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp D>
	                , <&macro_tap &kp D &kp C &kp N4 &kp N0>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_thinking: uc_thinking {
	            label = "UNICODE_EMOJI_THINKING";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N1 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_facepalm: uc_facepalm {
	            label = "UNICODE_EMOJI_FACEPALM";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp D &kp N2 &kp N6>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_hug: uc_hug {
	            label = "UNICODE_EMOJI_HUG";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp E>
	                , <&macro_tap &kp D &kp E &kp C &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_party: uc_party {
	            label = "UNICODE_EMOJI_PARTY";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp D &kp N8 &kp N3 &kp C>
	                , <&macro_tap &kp D &kp F &kp N8 &kp N9>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_love: uc_love {
	            label = "UNICODE_EMOJI_LOVE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N7 &kp N6 &kp N4>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_cent: uc_cent {
	            label = "UNICODE_CENT";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N0 &kp A &kp N2>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_accent: uc_accent {
	            label = "UNICODE_COMBINING_ACUTE";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N3 &kp N0 &kp N1>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_diaer: uc_diaer {
	            label = "UNICODE_COMBINING_DIAERESIS";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N3 &kp N0 &kp N8>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_micro: uc_micro {
	            label = "UNICODE_MICRO";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N0 &kp N3 &kp B &kp C>
	                , <&macro_release &kp LALT>
	                ;
	        };
	        uc_ellipsis: uc_ellipsis {
	            label = "UNICODE_ELLIPSIS";
	            compatible = "zmk,behavior-macro";
	            #binding-cells = <0>;
	            tap-ms = <0>;
	            wait-ms = <0>;
	            bindings
	                = <&macro_press &kp LALT>
	                , <&macro_tap &kp N2 &kp N0 &kp N2 &kp N6>
	                , <&macro_release &kp LALT>
	                ;
	        };
 	    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "MAIN";
// -----------------------------------------------------------------------------------------
// |      |  Q  |  W  |  E  |  R  |  T      |   |  Y  | U  | I  | O  | P     |      |
// |      |  A  |  S  |  D  |  F  |  G      |   |  H  | J  | K  | L  | ;     |      |
// |      |  Z  |  X  |  C  |  V  |  B      |   |  N  | M  | ,  | .  | /     |      |
//                           | MEH/ESC   | SHF | SPC |   | SYM | NAV | MOD |
                        bindings = <
    &trans &kp Q &kp W &kp E &kp R &kp T         &kp Y &kp U &kp I     &kp O &kp P    &trans
    &trans &kp A &kp S &kp D &kp F &kp G         &kp H &kp J &kp K     &kp L &kp SEMI &trans
    &trans &kp Z &kp X &kp C &kp V &kp B         &kp N &kp M &kp COMMA &kp DOT      &kp FSLH &trans
                              &meh_esc MEH ESC  &skm LSHIFT &kp SPACE     &sl 1 &sl 2       &sl 8
                        >;
                };
                sym {
                        display-name = "SYM";
// -----------------------------------------------------------------------------------------
// |      |  ^      |  <      |  =      |  >      |  #      |   |  `       |  [     |  "     |  ]      |  !      |      |
// |      |  /      |  @      |  *      |  -      |  +      |   |  '       |  (     |  :     |  )      |  ;      |      |
// |      |  \      |  _      |  &      |  ~      |  %      |   |  $       |  {     |  |     |  }      |  ?      |      |
//                            |         |         |         |   |          |        |        |
                        bindings = <
   &trans  &kp CRRT  &kp LT    &kp EQUAL &kp GT    &kp HASH       &kp GRAVE &kp LBKT &kp DQT  &kp RBKT  &kp EXCL  &trans
   &trans  &kp SLASH &kp AT    &kp ASTRK &kp MINUS &kp PLUS       &kp SQT   &kp LPAR &kp COLN &kp RPAR  &kp SEMI  &trans
   &trans  &kp BSLH  &kp UNDER &kp AMPS  &kp TILDE &kp PRCNT      &kp DLLR  &kp LBRC &kp PIPE &kp RBRC  &kp QMARK &trans
                               &trans    &trans    &trans         &trans    &trans   &kp RALT
                        >;
                };

                nav {
                        display-name = "NAV";
// -----------------------------------------------------------------------------------------
// |      | TAB     | ALT+LEFT |      | ALT+RIGHT |        |   | PGU    | DEL    | UP     | BSP     |       |      |
// |      | ESC     | CMD+SFT+[|      | CMD+SFT+] |        |   | PGD    | LEFT   | DOWN   | RGHT    | RET   |      |
// |      | HYPER   | CTL+LEFT |      | CTL+RIGHT |        |   | CMD+D  | HOME   | CAPS   | END     |       |      |
  //                           |      |           |        |   |        |        |        |
                        bindings = <
    &trans &kp TAB   &kp LA(LEFT)    &trans  &kp LA(RIGHT)   &trans       &kp PGUP &kp DEL  &kp UP   &kp BSPC  &trans  &trans
    &trans &kp ESC   &kp LG(LS(LBRC)) &trans &kp LG(LS(RBRC)) &trans     &kp PGDN &kp LEFT &kp DOWN &kp RIGHT &kp RET &trans
    &trans &skm MEH  &kp LC(LEFT)    &trans  &kp LC(RIGHT)   &trans       &kp LG(D) &kp HOME &kp CAPS &kp END  &trans  &trans
                                     &trans  &trans           &trans       &trans   &trans   &trans
                        >;
                };

                num {
                        display-name = "NUM";
// -----------------------------------------------------------------------------------------
// |      |       |      |      |   /   |   *    |   |         |   7    |   8    |    9    |       |      |
// |      |       |      |      |   -   |   +    |   |         |   4    |   5    |    6    |       |      |
// |      |       |      |      |   ,   |   .    |   |         |   1    |   2    |    3    |       |      |
//                       |      |       |        |   |         |  BSP   |   0    |
                        bindings = <
    &trans &trans  &trans &trans &kp FSLH &kp ASTRK   &trans    &kp N7   &kp N8   &kp N9    &trans  &trans
    &trans &trans  &trans &trans &kp MINUS &kp PLUS   &trans    &kp N4   &kp N5   &kp N6    &trans  &trans
    &trans &trans  &trans &trans &kp COMMA &kp DOT    &trans    &kp N1   &kp N2   &kp N3    &trans  &trans
                          &trans &trans    &trans      &trans    &kp BSPC &kp N0
                        >;
                };

		        media {
                        display-name = "PLAY";
// -----------------------------------------------------------------------------------------
// |      | BT 1       | VOLD     | MUTE     | VOLU     |              |   |              |              |              | SCREENSHOT    |       |      |
// |      | BT 2       | PREV     | PLAY     | NEXT     |              |   |              |              |              |               |       |      |
// |      | BT 3       |          |          |          | BT CLR       |   |              |              |              |               |       |      |
//                                |          |          |              |   |              |              |              |
                        bindings = <
    &trans &trans       &kp VOLD   &kp K_MUTE &kp VOLU   &trans             &trans         &trans         &trans         &trans          &kp LG(LS(N4)) &trans
    &trans &trans       &kp C_PREV &kp C_PP   &kp C_NEXT &trans             &trans         &trans         &trans         &trans          &trans  &trans
    &trans &trans       &trans     &trans     &trans     &trans             &trans         &trans         &trans         &trans          &trans  &trans
                                   &trans     &trans     &trans             &trans         &trans         &trans
                        >;
                };

				mouse {
                        display-name = "PTR";
// -----------------------------------------------------------------------------------------
// |            |       |          |          |          |        |   | SCROLL      | LCLICK       | MCLICK       | RCLICK        |       |      |
// |            |       |          |          |          |        |   |             |              |              |               |       |      |
// |            |       |          |          |          |        |   |             |              |              |               |       |      |
//                                 |          |          |        |   |              |              |              |
                        bindings = <
    &trans       &trans  &trans     &trans     &trans     &trans       &mo 10         &mkp LCLK      &mkp MCLK      &mkp RCLK       &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans          &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans          &trans  &trans
                                    &trans     &trans     &trans       &trans         &trans         &trans
                        >;
                };

				unicode {
                        display-name = "UNI";
// -----------------------------------------------------------------------------------------
// |            | pound   | cent     | accent   | euro     | tm     |   |              |              |              |               |       |      |
// |            |         |   sz     |          | em dash  |        |   |   apo        |  l quot      | diaeresis    | r quot        |       |      |
// |            |         |          |          |          |        |   |              |  micro       |              | ellipsis      |       |      |
//                                   |          |          |        |   |              |              |              |
                        bindings = <
    &trans       &uc_pound &uc_cent   &uc_accent &uc_euro   &uc_tm       &trans         &trans         &trans         &trans           &trans  &trans
    &trans       &trans    &uc_sz     &trans     &uc_dash   &trans       &uc_apo        &uc_lquot      &uc_diaer      &uc_rquot        &trans  &trans
    &trans       &trans    &trans     &trans     &trans     &trans       &trans         &uc_micro      &trans         &uc_ellipsis     &trans  &trans
                                      &trans     &trans     &trans       &trans         &trans         &trans
                        >;
                };

				emoji {
                        display-name = "EMOJ";
// -----------------------------------------------------------------------------------------
// |            |         |          |  eyes    | roll       | think  |   | monkey       |              |              | ohai          | party    |      |
// |            |         | sweat    |          | facpalm    |        |   | hug          | joy          | kiss         | love          |          |      |
// |            |         |          |  cry     |            |        |   |              | meh          |              |               |          |      |
//                                   |          |            |        |   |              |              |              |
                        bindings = <
    &trans       &trans    &trans     &uc_eyes   &uc_roll     &uc_thinking &uc_monkey     &trans         &trans         &uc_ohai         &uc_party &trans
    &trans       &trans    &uc_sweat  &trans     &uc_facepalm &trans       &uc_hug        &uc_joy        &uc_kiss       &uc_love         &trans    &trans
    &trans       &trans    &trans     &uc_cry    &trans       &trans       &trans         &uc_meh        &trans         &trans           &trans    &trans
                                      &trans     &trans       &trans       &trans         &trans         &trans
                        >;
                };

                tapmods {
                        display-name = "MOD";
// -----------------------------------------------------------------------------------------
// |      |       |      |      |      |        |   |        |        |        |         | Ctrl  |      |
// |      |       |      |      |      |        |   |        |        |        |         | Alt   |      |
// |      |       |      |      |      |        |   | KBD    |        |        |         | Super |      |
//                       | UC/PTR | MEDIA |  NUM   |   |        |        |        |
                        bindings = <
    &trans       &trans       &trans &trans &trans &trans       &kp LG(LA(SPACE)) &trans    &trans    &trans    &skm LCTRL &trans
    &trans       &trans       &trans &trans &trans &trans       &trans    &trans    &trans    &trans    &skm LALT  &trans
    &trans       &trans       &trans &trans &trans &trans       &sl 9     &trans    &trans    &trans    &skm LGUI  &trans
                 &mouse_entry &sl 4  &sl 3                          &trans    &trans    &trans
                        >;
                };

                keyboard {
                        display-name = "BT";
// -----------------------------------------------------------------------------------------
// |      | BT1   |      |      |      | BT CLR |   |        |        |        |         |       |      |
// |      | BT2   |      |      |      |        |   |        |        |        |         |       |      |
// |      | BT3   |      |      |      |        |   |        |        |        |         |       |      |
//                       |      |       |       |   |        |        |        |
                        bindings = <
    &trans       &bt BT_SEL 0 &trans &trans &trans &bt BT_CLR   &trans    &trans    &trans    &trans    &trans &trans
    &trans       &bt BT_SEL 1 &trans &trans &trans &trans       &trans    &trans    &trans    &trans    &trans &trans
    &trans       &bt BT_SEL 2 &trans &trans &trans &trans       &trans    &trans    &trans    &trans    &trans &trans
                 &trans       &trans  &trans                         &trans    &trans    &trans
                        >;
                };

                pointer_scroll {
                        display-name = "PTR";
                        bindings = <
    &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans
                                    &trans &trans &trans       &trans &trans &trans
                        >;
                };

                persistent_mouse {
                        display-name = "PTR";
// -----------------------------------------------------------------------------------------
// |            |       |          |          |          |        |   | SCROLL      | LCLICK       | MCLICK       | RCLICK        |       |      |
// |            |       |          |          |          |        |   |             |              |              |               |       |      |
// |            |       |          |          |          |        |   |             |              |              |               |       |      |
//                                 | BASE     |          |        |   |              |              |              |
                        bindings = <
    &trans       &trans  &trans     &trans     &trans     &trans       &mo 10         &mkp LCLK      &mkp MCLK      &mkp RCLK       &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans          &trans  &trans
    &trans       &trans  &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans          &trans  &trans
                                    &to 0      &trans     &trans       &trans         &trans         &trans
                        >;
                };

// 				template {
// // -----------------------------------------------------------------------------------------
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// // |            |         |          |          |          |        |   |              |              |              |               |       |      |
// //                                   |          |          |        |   |              |              |              |
//                         bindings = <
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//     &trans       &trans    &trans     &trans     &trans     &trans       &trans         &trans         &trans         &trans           &trans  &trans
//                                       &trans     &trans     &trans       &trans         &trans         &trans
//                         >;
//                 };
        };
};

&glidepoint_listener {
        input-processors = <&touch_pointer_layer &zip_xy_scaler 100 100 &zip_xy_transform INPUT_TRANSFORM_Y_INVERT>;

        scroller {
                layers = <1 2 10>;
                input-processors = <
                        &touch_pointer_layer
                        &zip_xy_to_scroll_mapper
                        &zip_scroll_scaler 1 20
                        &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
                >;
        };
};

